*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('loginback.jpg');
    background-size: cover;
    background-position: center;
}
.container{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.login{
    width: 30%;
    background: #fff;
    border: 0px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
.login h1{
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    color: #2596dc;
}
.login h1 img{
    height: 100%;
}
.login form{
    margin: 0 20px;
}
.btnLogin{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login form label{
    display: block;
    text-align: left;
    margin: 10px 0 5px 0;
}
.login form input{
    border: 1px solid silver;
    border-radius: 5px;
    display: block;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}
.btnLogin button{
    width: 100%;
    border: 0 solid #000;
    border-radius: 5px;  
    margin: 30px;
    padding: 10px 20px;
    display: block;
    background: #2596dc;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
.btnLogin button:hover{
    transform: scale(1.05);
}
.register_link{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid silver;
}
.register_link p a{
    text-decoration: none;
    color: #2596dc;
    transition: 0.1s;
}
.register_link p a:hover{
    text-decoration: underline;
}
.btnLogin button:hover:active{
    transform: scale(0.95);
}
/* end login */
.register{
    width: 30%;
    background: #fff;
    border: 0px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
}
.regiter input{
    display: block;
}
.register h1{
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    color: #2596dc;
}
.register form{
    margin: 0 20px;
}
.register form label{
    display: block;
    text-align: left;
    margin: 10px 0 5px 0;
}
.register form input{
    border: 1px solid silver;
    border-radius: 5px;
    display: block;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 10px 5px;
}
.login_link{
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid silver;
}
.login_link p a{
    text-decoration: none;
    color: #2596dc;
    transition: 0.1s;
}
.login_link p a:hover{
    text-decoration: underline;
}